{
    "extends": "@react-native-community",
    "rules": {
      "quotes": [
        2,
        "double",
        {
          "avoidEscape": true,
          "allowTemplateLiterals": true
        }
      ],
      "react/react-in-jsx-scope": "off",
      "prettier/prettier": [
        "error",
        {
          "trailingComma": "es5",
          "singleQuote": false,
          "printWidth": 80,
          "tabWidth": 2
        }
      ]
    }
  }